{% extends "layout.njk" %}

{% block title %}Aluno{% endblock title %}

{% block content %}
<div class="card table-container">
    <div class="header">
        <a class="button" href="/student/create">Novo</a>
        <form action="/student" method="GET">
            <input
                type="text"
                name="filter"
                placeholder="Nome ou Email"
                value="{{ filter }}"
            >
            <button type="submit">Filtrar</button>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nome completo</th>
                <th>Email</th>
                <th>Ano escolar</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>
                    <div>
                        <span style="background-image: url({{ student.avatar_url }})"></span>
                        {{ student.name }}
                    </div>
                </td>
                <td>
                    {{ student.email }}
                </td>
                <td>
                    {{ student.grade }}
                </td>
                <td><a href="/student/{{ student.id }}">ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div
        class="pagination"
        data-page="{{ pagination.page }}"
        data-total="{{ pagination.total }}"
        data-filter="{{ filter }}"
    ></div>
</div>
{% endblock content %}