{% extends "layout.njk" %}

{% block title %}Aluno{% endblock title %}

{% block content %}
    <div class="card-message">
        <div class="success-lottie"></div>
        <div class="content">
            <h2>{{ message }}</h2>
            <a href="/student/{{ studentID }}">Veja aqui os dados do aluno</a>
        </div>
    </div>
    <script src="/js/lottie.js" type="text/javascript"></script>
    <script>
        const element = document.querySelector('.success-lottie')

        lottie.loadAnimation({
            container: element, // the dom element that will contain the animation
            renderer: 'svg',
            loop: false,
            autoplay: true,
            path: '/js/lottieFiles/success.json' // the path to the animation json
        });
    </script>
{% endblock content %}