<div class="item">
    <div>Avatar URL</div>
    <input type="url" name="avatar_url" placeholder="Ex.: http://www.google.com.br" value="{{ teacher.avatar_url }}">
</div>

<div class="item">
    <div>Nome completo</div>
    <input type="text" name="name" placeholder="Nome" value="{{ teacher.name }}">
</div>

<div class="item">
    <div>Data de nascimento</div>
    <input type="date" name="birth_date" value="{{ teacher.birth_date }}">
</div>

<div class="item">
    <div>Grau de escolaridade</div>
    <select name="education_level">
        <option
            value="high_school"
            {% if teacher.education_level == "high_school" %}
                selected
            {% endif %}
        >
        Ensino Médio Completo
        </option>

        <option
            value="college"
            {% if teacher.education_level == "college" %}
                selected
            {% endif %}
        >
        Ensino Superior Completo
        </option>

        <option
            value="master"
            {% if teacher.education_level == "master" %}
                selected
            {% endif %}
        >
        Mestrado
        </option>

        <option
            value="doctor"
            {% if teacher.education_level == "doctor" %}
                selected
            {% endif %}
        >
        Doutorado
        </option>
    </select>
</div>

<div class="item">
    <div>Tipo de aula</div>
    <div>
        <span>
            <input
                type="radio"
                name="class_type"
                value="presential"
                {% if teacher.class_type == "presential" %}
                    checked
                {% endif %}
            >
            Presencial
        </span>
        <span>
            <input
                type="radio"
                name="class_type"
                value="e-learning"
                {% if teacher.class_type == "e-learning" %}
                    checked
                {% endif %}
            >
            À distância
        </span>
    </div>
</div>

<div class="item">
    <div>Área de atuação</div>
    <input type="text" name="subjects_taught" placeholder="Separe as atuações por vírgula" value="{{ teacher.subjects_taught }}">
</div>

<button type="submit">Salvar</button>