{% extends "layout.njk" %}

{% block title %}Professor{% endblock title %}

{% block content %}
<div class="card table-container">
    <a href="/teacher/create">Novo</a>
    <table>
        <thead>
            <tr>
                <th>Nome completo</th>
                <th>Acompanhamento</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>
                    <div>
                        <span style="background-image: url({{ teacher.avatar_url }})"></span>
                        {{ teacher.name }}
                    </div>
                </td>
                <td>
                    {% for subject in teacher.subjects_taught %}
                    <span class="subject">{{ subject }}</span>
                    {% endfor %}
                </td>
                <td><a href="/teacher/{{ teacher.id }}">ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}