{% extends "layout.njk" %}

{% block title %}404{% endblock title %}

{% block content %}
<div class="screen-centered not-found">
    <p>Page not found!</p>
    <h1>404</h1>
</div>
{% endblock content %}